# Backend
PORT=7777
HOST=0.0.0.0
NODE_ENV=development

# Database
DB_URL=mongodb://localhost:27017/courses-project
H_SECRET=your_h_secret_here

# CORS
CORS_ORIGIN=http://localhost:3000

# Better Auth Secret (любая случайная строка для шифрования сессий)
BETTER_AUTH_SECRET=your_random_better_auth_secret_here

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:7777/api
NEXT_PUBLIC_BACKEND_URL=http://localhost:7777

# Cloudinary credentials для загрузки изображений (https://cloudinary.com/)
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

isDevelopment=true
